@font-face {
    font-family: 'klimaLight';
    src: local("klima-light-web.woff2"),
        url(/library/Fonts/klima-light-web.woff2);
}

@font-face {
    font-family: 'klima';
    src: url(/library/Fonts/klima-medium-web.woff2)
}

@font-face {
    font-family: 'klimaHeavy';
    src: url(/library/Fonts/klima-heavy-web.woff2)
}

@font-face {
    font-family: 'klimaBold';
    src: url(/library/Fonts/klima-bold-web.woff2)
}

/*
document {
    background-image: url(/library/starryNight.jpg);
}
*/

b {
    font-family: klima;
    color: FFA902;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #E6F0FA;
    z-index: 200;
}

#loading {
    text-align: center;
    height: 200px;
    width: 200px;
    color: #000000;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

#header {
    width: 100%;
    z-index: 100;
    background: linear-gradient(to right, #C5E1F9, 90%, #FFA902);
    height: 5vh;
    position: absolute;
}

#logo {
    margin: 10vh 0px 0px 0px;
    width: 75%;
    max-width: 640px;

}

#inner {
    position: absolute;
    z-index: 300;
    width: 100vw;
    height: 100vh;

}

#startButton {
    font-family: 'klimaLight';
    color: #17292E;
    text-decoration: none;
    font-size: 1.5em;
    float: right;
    margin: 1.2vh 1.2vw 0 0;

}

#startButton:hover {
    border-bottom: 5px solid #17292E;

}

#nextButtonOne {
    font-family: 'klimaLight';
    color: #17292E;
    text-decoration: none;
    font-size: 1.5em;
    float: right;
    margin: 1.2vh 1.2vw 0 0;
    display: none;
}

#nextButtonOne:hover {
    border-bottom: 5px solid #17292E;
}

#nextButtonTwo {
    font-family: 'klimaLight';
    color: #17292E;
    text-decoration: none;
    font-size: 1.5em;
    float: right;
    margin: 1.2vh 1.2vw 0 0;
    display: none;
}

#nextButtonTwo:hover {
    border-bottom: 5px solid #17292E;
}

.textBox {
    font-family: 'klimaLight';
    background-color: none;
    color: #efefefef;
    text-align: left;
    z-index: 300;
    font-size: 1em;
    line-height: 1.70em;
    max-width: 30vw;
}

#textBoxOne,
#textBoxTwo,
#textBoxThree {
    display: none;
}

#textBoxThree {
    max-width: 70vw;
    left: 15vw;
    top: 10vh;

}

#logoSmall {
    height: 60%;
    z-index: 200;
    left: 7%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.pageTitle {
    font-family: 'klimaHeavy';
    background-color: none;
    color: #17292E;
    text-align: left;
    font-size: 2.5em;
    left: 60%;
    top: 50%;
    transform: translate(-0, -50%);
    z-index: 200;
    display: inline;
    position: absolute;
    max-width: none;
}

#pageTitleOne,
#pageTitleTwo,
#pageTitleThree {
    display: none;

}

#pageTitleThree {
    left: 15vw
}

.des {
    position: absolute;
    right: 25vw;
    top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(50%);
    width: 500px;
    height: auto;
    background: red;
}

.subHeader {
    font-family: 'klima';
    background-color: none;
    color: #369AF2;
    text-align: left;
    font-size: 1.5em;
    z-index: 200;
    display: inline;
    max-width: 35vw;
    line-height: 1.8em;


}

#subheaderOne,
#subheaderTwo,
#subheaderThree {
    display: none;
}

#subheaderThree {
    left: 15vw;

}
